In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [3]:
df =  pd.read_csv('c:/Users/nishant/Air quality/Train/Train.csv')

In [4]:
df.sample(10)

      feature_1  feature_2  feature_3  feature_4  feature_5      target
590   -0.730416  -0.328558  -0.239749   1.018559   1.602288   -5.888637
1114   0.767680  -0.856169   0.189328   0.391004  -1.180045  -40.518795
1099  -1.048460  -1.824161  -1.784917   0.925938  -0.458630 -151.422375
10    -2.015734   0.102635  -0.136282  -0.021666   0.743511  -41.964694
117   -0.216795  -0.291863   1.212720  -1.576204  -0.951841  -86.046521
820    2.570194   0.124155   0.893593  -1.580924  -1.668491   41.458046
434    0.464558   2.423926   0.855024   1.530389  -0.471154  333.825498
568    0.582755  -1.445725   0.911188   2.116628  -0.438492    5.643037
1562  -1.592162   0.323884   0.315827   0.701985   1.576144    6.412484
458    1.077591   1.128299  -0.876641  -1.036109  -0.159114  105.743559

In [7]:
y = df['target']
x = df
x = x.drop(columns='target')
y

0       -82.154667
1       -48.897960
2        77.270371
3        -2.988581
4       -37.596722
           ...
1595    -80.110012
1596    118.315601
1597   -107.510508
1598    -47.341558
1599   -115.939003
Name: target, Length: 1600, dtype: float64

In [8]:
x

      feature_1  feature_2  feature_3  feature_4  feature_5
0      0.293416  -0.945599  -0.421105   0.406816   0.525662
1     -0.836084  -0.189228  -0.776403  -1.053831   0.597997
2      0.236425   0.132836  -0.147723   0.699854  -0.187364
3      0.175312   0.143194  -0.581111  -0.122107  -1.292168
4     -1.693011   0.542712  -2.798729  -0.686723   1.244077
...         ...        ...        ...        ...        ...
1595  -0.274961  -0.820634  -0.757173  -0.147555  -0.307149
1596  -0.076099   0.255257   0.290054   1.796036   0.340350
1597   1.044177  -0.899206   1.730399  -1.871057   0.442520
1598  -1.269173  -0.005052   1.857669  -1.080365   0.736334
1599  -1.884000  -0.849427  -1.452270   0.488613   1.459576

[1600 rows x 5 columns]

In [9]:
lr = LinearRegression()
model = lr.fit(x,y)

In [11]:
test = pd.read_csv('c:/Users/nishant/Air quality/Test/Test.csv')
pred = lr.predict(test)

In [13]:
submission = pd.DataFrame(pred,columns=['target'])

In [15]:
submission.to_csv('submission.csv',index_label='Id')